.wrapper {
  width: 100%;
  height: 100%;
  max-width: 900px;
  margin: 50px auto;
  padding-left: 120px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

mat-form-field {
  width: 500px;
}

.review button {
  top: -10px;
  left: 20px;
  position: relative;
}

textarea {
  height: 35px;
  min-height: 35px;
  max-height: 35px;
  margin-right: 20px;
}

textarea:disabled {
  color: #353535;
}

p {
  display: inline-block;
  position: relative;
  right: 10px;
}

p span {
  font-size: 18px;
  font-weight: 600;
}
