<button class="link" mat-button mat-stroked-button color="primary" routerLink="/restaurants">All restaurants</button>

<div>
  <h2>
    <img src="https://banner2.cleanpng.com/20190731/coj/kisspng-fork-icon-fast-food-icon-5d4125521cc0d5.6481897415645504821178.jpg">
    Add a new restaurant
    <img src="https://banner2.cleanpng.com/20190731/coj/kisspng-fork-icon-fast-food-icon-5d4125521cc0d5.6481897415645504821178.jpg">
  </h2>
  <form [formGroup]="restaurantForm" autocomplete="off" (ngSubmit)="submit()">
    <br>
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput formControlName="name">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Description</mat-label>
      <input matInput formControlName="description">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Address</mat-label>
      <input matInput formControlName="address">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Category</mat-label>
      <mat-select formControlName="category">
        <mat-option *ngFor="let cat of categories" [value]="cat.toUpperCase()">
          {{ cat }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Contact</mat-label>
      <input matInput formControlName="contact">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Working time</mat-label>
      <input matInput formControlName="workTime">
    </mat-form-field>
    <mat-form-field class="upload" (click)="fileInput.click()">
      <mat-label *ngIf="selectedFile?.name; else newFile">{{ selectedFile?.name }} &#10004;</mat-label>
      <ng-template #newFile>
        <mat-label>Choose file</mat-label>
      </ng-template>
      <input [placeholder]="'Click to upload' + (selectedFile ? ' other' : '') + ' image'" matInput readonly="readonly">
      <input hidden (change)="selectFile($event)" #fileInput type="file" id="file" accept="image/png, image/jpeg">
    </mat-form-field>

    <button color="primary" [disabled]="restaurantForm.invalid" type="submit" mat-button mat-stroked-button>Add</button>
  </form>
</div>
