.link {
  right: 50px;
  bottom: 70px;
  position: fixed;
}

.upload, .upload input {
  cursor: pointer;
}

div {
  width: 340px;
  margin: 40px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  color: #4f4f4f;
  font-weight: 600;
}

form {
  text-align: center;
}

mat-form-field {
  width: 100%;
}
