<button class="link" mat-button mat-stroked-button color="primary" routerLink="/restaurants">All restaurants</button>

<div class="wrapper" *ngIf="data">
  <img [src]="data.image">
  <div class="info">
    <h1>{{ data.name }}</h1>
    <p>{{ data.description }}</p>
    <p>Category: <b>{{ data.category }}</b></p>
    <p>Address: <button mat-button mat-stroked-button color="primary" (click)="redirectToGoogleMaps(data.address)"><b>{{ data.address }}</b></button></p>
    <p>Working time: <b>{{ data.workTime }}</b></p>
    <p>Contact: <b>{{ data.contact }}</b></p>
    <p>Added by: <b>{{ data.createdBy.firstName }} {{ data.createdBy.lastName }}</b></p>
    <p>Added at: <b>{{ data.createdAt | date: 'dd.MM.YYYY. HH:mm:ss' }}</b></p>
    <p *ngIf="data.woltName && data.woltLink">Wolt link: <a target="_blank" [href]="data.woltLink">{{ data.woltName }}</a></p>
  </div>

  <app-reviews [restaurantId]="data.id"></app-reviews>
</div>
