.info * {
  overflow: hidden;
  white-space: nowrap;
}

.link {
  right: 50px;
  bottom: 70px;
  position: fixed;
}

.wrapper {
  width: 70%;
  max-width: 1700px;
  margin: 30px auto;
}

img {
  float: left;
  width: 35%;
  min-width: 350px;
  height: 330px;
  object-fit: cover;
  border-radius: 5px;
  margin-bottom: 30px;
  border: 2px solid #d47252;
}

.info {
  width: 55%;
  min-width: 400px;
  line-height: 28px;
  text-align: center;
  display: inline-block;
}

.info p {
  font-size: 20px;
}

h1 {
  height: 40px;
  font-size: 35px;
  font-weight: bold;
}
